/* Color palette */

/* Main color text #212121; */
/* Second color text #757575; */
/* accent #2196F3; */
/* white #FFFFFF; */
/* rgba white rgba(255, 255, 255, 0.6); */
/* Header background color: #FFFFFF; */
/* Footer background color: #2F303A; */
/* Main background color: #F5F5F5; */
/* black #000000 */

:root {
    --main-color: #212121;
    --second-color: #757575;
    --accent: #2196F3;
    --footer: #2F303A;
}

ul {
    list-style: none;
}
.body {
color: var(--main-color);
background-color: #FFFFFF;
}

/* Header */
.logo {
    color: #000000; 
    }
.logo-style {
    color: var(--accent);
}
.site-nav a {
    color: var(--main-color);
}
.auth-nav a {
    color: var(--second-color);
}
.logo:hover,
.logo:focus {
    color: var(--accent);
}
.site-nav a:hover,
.site-nav a:focus {
    color: var(--accent);
}
.auth-nav a:hover, 
.auth-nav a:focus {
    color: var(--accent);
}
.site-nav .current {
color: var(--accent);
}

/* Main */
.main {
    background-color: #F5F5F5;
}

/* Navigations Buttons*/
button {
    font-family: inherit;
}
.button:hover,
.button:focus {
color: #FFFFFF;
background-color: var(--accent) ;
}
p {
    color: var(--second-color);
}

/* Footer */
.footer {
    background-color: var(--footer) ;
}

.addres-link {
    color: rgba(255, 255, 255, 0.6);
}

.addres-first-link {
    color: #FFFFFF;
}
/* .addres {
    color: #FFFFFF;
} */
